/* Custom Properties */
:root{
--first-color: rgba(97,161,248,1);
--first-alpha-color:rgba(97,161,248,0.75);
--second-color:rgba(59,83,173,1);
--second-alpha-color: rgba(59, 84, 173, 0.75);
--third-color:rgba(67,200,125,1);
--third-alpha-color:rgba(67,200,125,0.75);
--white-color: #fff;
--gray-light-color:#f3f3f3;
--gray-color:#ccc;
--gray-dark-color:#666;
--black-color:#000;
--link-color:#33ff00;
--title-color:#333;
--text-color:#222;
--white-alpha-color:rgba(255,255,255,0.5);
--black-alpha-color:rgba(0,0,0,0.5);
--font:"Raleway", sans-serif;
--max-width: 1200px;
--header-height: 4rem;
}
/* Reset */
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin:0;
    overflow-x: hidden;
    color: var(--text-color);
}
a{
    color:var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover{
    opacity: 0.75;
}

h1{
    margin: 0px;
    font-size: 2rem;
}

h2{
    margin: 0px;
    font-size: 1.5rem;
}

h3{
    margin: 0px;
    font-size: 1.25rem;
}

h4{
    margin: 0px;
    font-size: 1rem;
}

h5{
    margin: 0px;
    font-size: 0.85rem;
}

h6{
    margin: 0px;
    font-size: 0.7rem;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
}
/* Components */


/* About */

.gray-scale{
    width: 20vw;
    height: 18vw;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 5px var(--second-alpha-color)
}

.gray-scale:hover{
     box-shadow: 0px 5px 20px 5px var(--second-color);
     transition-duration: 1.2s;
        transform: rotateZ(360deg);
   
}

@media screen and (max-width:1024px){
    .gray-scale{
        width: 300px;
        height: 250px;
    }

}

.first-column p{
    font-size: 0.8rem;

}

.two-column span{
    color: var(--third-color);
    font-size: 1.3rem;
}

@media screen and (min-width:1024px){
    .flexbox-item:nth-child(2){
        justify-content: space-evenly;
        text-align: center;
        

    }
}

.skills{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    
}

.text-skills{
    width: 80px;
}
.skills-img{
    width:48px;
}


/* HeroImage */
.hero-image{
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:var(--attachment);
    
}

.hero-image-opacity{
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--opacity-color);
    align-content: center;
}
.hero-image-content{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.hero-image-title{
    font-size: 7.5vw;
    color:var(--color);
}

/* Menu */

.menu{
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100%;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;

}

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}

.menu-btn{
    outline: thin solid var(--third-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-alpha-color);
}
.menu a{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

}

.menu a:hover{
    color: var(--white-color);
    background-color: var(--third-color);

}
.menu-btn svg{
    fill: var(--third-color);
}

@media screen and (min-width:1024px){
    .menu-btn{
        display: none;
    }

    .menu{
        position: static;
        opacity: 1;
        width: auto;
        flex-direction: row;
        pointer-events: auto;

    }
    .menu a{
        padding: 0 1rem;
    }
    .menu a:last-child{
        padding-right: 0px;
    }
    .menu a:hover{
        background-color: transparent;
    }
}
/* Utilities */

.box-shadow-1{
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.25);
}
.btn{
    border-radius: 10px;
    padding: 1rem;
    display: inline-block;
    margin:10px;
    width: 200px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:var(--white-color);
    background-color: var(--third-color);
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width)
}

.contact-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.contact-card{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.flexbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem ;
}

.flexbox-item{
    width: 25vw;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width:1024px){
    .flexbox-container{
    margin-top: 2rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    }
    .flexbox-item{
    width: 75vw;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items:center ;
}
     #title-skills{
     margin-bottom: 35px;
 }
}


.none{
    display: none;
}
/* Site Styles */

.header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    color: var(--third-color);
    font-weight: bold;
    font-size: 2rem;
}

.section-title{
    margin-bottom: 50px;
    padding: 10px;
    margin-top: 50px;
}

.social-media a{
    text-decoration: none;
}
.footer{
    color: var(--white-color);
    text-align: center;
    background-color: var(--first-color);
    padding: 5px;
}

@media screen and (min-width:768px){

}
@media screen and (min-width:1024px){
    .header{
        position: sticky;
        top: 0;
    }
}




